.navBar {
    height: 50px;
}

.navBarSides {
    flex-basis: 0;
    flex-grow: 1;
}

.navBarRight {
    display: flex;
    justify-content: flex-end;
}

.navBarTitle {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    display: table-cell;
}